<h1>Hallo, <%= @user.first_name %></h1>

<p><%= @user.email %></p>


<% if @user.admin? %>
  <%= render 'profiles/admin' %>
<% elsif @user.housecaretaker? %>
  <%= render 'profiles/housecaretaker' %>
<% else %>
  <%= render 'profiles/user' %>
<% end %>
