<h1>This is <%= @flat.name %></h1>

<p>Following users are registered:</p>

<ul>
<% @users.each do |user| %>
<li><%= link_to "#{user.first_name} #{user.last_name}", profile_path %>
  <%= link_to 'Edit', edit_building_user_path(user.building, user), class: 'crud-button' %>
  <%= link_to 'Delete', building_user_path(user.building, user), method: :delete, data: { confirm: 'Are you sure?'}, class: 'crud-button' %>
</li>
<% end %>
</ul>

<p><%= link_to 'Add a user', new_user_invitation_path, class: 'crud-button' %></p>

<% if current_user.housecaretaker? %>
  <%= link_to 'Back to profile', hct_profile_path %>
<% elsif current_user.admin? %>
  <%= link_to 'Back to building', building_path(@building) %>
<% end %>

