<h1>This is <%= @flat.name %></h1>

<p>Following users are registered:</p>

<ul>
<% @users.each do |user| %>
<li><%= link_to "#{user.first_name} #{user.last_name}", building_user_path(user.building, user) %>
  <%= link_to 'Edit', edit_building_user_path(user.building, user) %>
  <%= link_to 'Delete', building_user_path(user.building, user), method: :delete, data: { confirm: 'Are you sure?'} %>
</li>
<% end %>
</ul>

<%= link_to 'Back to building', building_path(@building) %>

